@import '../../styles/colors.scss';

.airbnb-header-container{
    box-shadow: rgb(0 0 0/8%) 0 1px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1;


    &_contain{
        // padding: 20px 0;
        display: flex;
        height: 80px;
        // align-items: center;
        justify-content: space-between;




        &_logo-box{
            width: 100%;
            height: 100%;
            flex: 1 0 140px;
            .logo-img{
                width: 102px;
                height: 100%;
                object-fit: contain;
            }
        }

        &_nav-one{
            flex: 0 1 auto;
            height: 100%;
            display: flex;
            align-items: center;
            
            .ul{
                display: flex;
                align-items: center;
                .li{
                    padding: 10px 16px;
                    font-size: 16px;
                    line-height: 20px;
                    &.gray{
                        color: $gray;  
                        font-weight: 400;
                        &:hover{
                            background: $hover-gray;
                            border-radius: 22px;
                        }
                    } 
                    &.active{
                        font-weight: 600;       
                        color: $black;
                    }
                }
            }
            .search-bar-box{
                border: 1px solid $boder-color;
                border-radius: 32px;
                box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.08);
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                max-width: 850px;
                width: 100%;
                bottom: 15px;
                &.scroll{
                    max-width: 348px;

                }
                .menu-serach-bar{
                    display: grid;
                    grid-template-columns: 1fr auto 1fr auto 1fr;
                    height: 48px;
                    align-items: center;
                    padding-left: 8px;
                    .border-line{
                        display: block;
                        background-color: $boder-color;
                        height: 24px;
                        width: 1px;
                    }
                    .anywherep-box{
                        display: flex;
                        align-items: center;
                        .anywhere-text{
                            padding: 0 16px;
                            font-size: 14px;
                            line-height: 22px;
                            white-space: nowrap;
                            &.black{
                                color: $black;
                            }
                            &.gray{
                                color: $gray;
                            }
                        }
                        .search-box{
                            width: 32px;
                            height: 32px;
                            border-radius: 24px;
                            margin-right: 9px;
                            background-color: $red ;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .search-img{
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                   
                    &:hover{
                        box-shadow: 0 2px 4px rgba(0,0,0,0.18);
                        border-radius: 40px;
                    }
                    


                }
                .main-menu-search{
                    display: grid;
                    grid-template-columns: 1fr auto 1fr auto 1fr;
                    align-items: center;
                    position: relative;
                    border-radius: 32px;
                    &.click-gray{
                        background-color: $dark-gray;
                        
                    }
                    .border-line{
                        display: block;
                        background-color: $boder-color;
                        height: 32px;
                        width: 1px;
                    }
                    .search-destination-box{
                        
                        .label{
                            padding: 14px 32px;
                            flex: 1 0 0%;
                            border: 1px solid transparent;
                            display: flex;
                            border-radius: 32px;
                            flex-direction: column;
    
                            .where-text{
                                font-size: 12px;
                                line-height: 16px;
                                color: $black;
                                padding-bottom: 2px;
    
                            }
                            .search-ip{
                                font-size: 14px;
                                line-height: 18px;
                                color: $black;
    
                            }
                            &.hover{
                                &:hover{
                                    background-color: $dark-gray;
                                    border-radius: 32px;
                                }
                            }
                            &.active{
                                box-shadow: 0 3px 12px 0 rgb(0 0 0/0.1), 0 1px 2px 0 rgb(0 0 0/0.08);
                                background-color: $white;
                            }
                        }
    
                    }
                    .check-in-out-date-box{
                        .stays-box{
                            display: grid;
                            grid-template-columns: 1fr auto 1fr;
                            align-items: center;
                            .label{
                                display: block;
                                padding: 14px 24px;
                                border: 1px solid transparent;
                                border-radius: 32px;
                                .check-text{
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: $black;
                                    padding-bottom: 2px;
                                }
                                .add-date-text{
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: $gray;  
        
                                }
                                &.hover{
                                    &:hover{
                                        background-color: $dark-gray;
                                        border-radius: 32px;
                                    }
                                }
                                &.active{
                                    box-shadow: 0 3px 12px 0 rgb(0 0 0/0.1), 0 1px 2px 0 rgb(0 0 0/0.08);
                                    background-color: $white;
                                }
                            }
    
                        }
                        .experience-box{
                            .label{
                                display: block;
                                padding: 14px 24px;
                                border: 1px solid transparent;
                                border-radius: 32px;
                                .date-text{
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: $black;
                                    padding-bottom: 2px;
                                }
                                .add-date-text{
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: $gray;  
        
                                }
                                &.hover{
                                    &:hover{
                                        background-color: $dark-gray;
                                        border-radius: 32px;
                                    }
                                }
                                &.active{
                                    box-shadow: 0 3px 12px 0 rgb(0 0 0/0.1), 0 1px 2px 0 rgb(0 0 0/0.08);
                                    background-color: $white;
                                }
                            }
    
                        }
                    }
                    .add-guest-box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 32px;
                        &.hover{
                            &:hover{
                                background-color: $dark-gray;
                                border-radius: 32px;
                            }
                        }
                        &.active{
                            box-shadow: 0 3px 12px 0 rgb(0 0 0/0.1), 0 1px 2px 0 rgb(0 0 0/0.08);
                            background-color: $white;
                        }
                        .label{
                            padding: 14px 24px;
                            border: 1px solid transparent;
                            .who-text{
                                font-size: 12px;
                                line-height: 16px;
                                color: $black;
                                padding-bottom: 2px;
                            }
                            .guestes-text{
                                font-size: 14px;
                                line-height: 18px;
                                color: $gray;  
    
                            }
                        }
                        .search-box{
                            width: 48px;
                            height: 48px;
                            border-radius: 24px;
                            margin-right: 9px;
                            background-color: $red ;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .search-img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }




            }
        }

        &_nav-two{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1 0 140px;
            .airbnb-home-text{
                font-size: 14px;
                line-height: 18px;
                padding: 12px;
                color: $black;
                font-weight: 600;
                &:hover{
                    background: $hover-gray;
                    border-radius: 22px;
                }
            }
            .language-world-btn{
                padding: 12px;
                &:hover{
                    background: $hover-gray;
                    border-radius: 22px;
                }
                .world-language-img{
                    width: 16px;
                    height: 16px;
                }
            }
            .hamburger-menu-btn{
                border: 1px solid $boder-color;
                border-radius: 30px;
                display: flex;
                align-items: center;
                gap: 14px;
                padding: 8px;
                margin-left: 8px;
                &:hover{
                    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
                }
                .hamburger-img{
                    width: 16px;
                    height: 16px;
                }
                .profile-img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    &_one{
        box-shadow: rgb(0 0 0/8%) 0 1px 0;
        position: relative;
        &.default{
            height: 168px;
        }
        &.scroll{
            height: 80px;
        }
        
    }
    &_two{
        padding: 20px 0;
        .second-menu-box{
            display: flex;
            align-items: center;
            .menu-slider-box{
                max-width: 950px;
                width: 100%;
            
                .slick-slider{
                    &.slick-initialized{
                        .slick-list{
                            .slick-track{
                                display: flex;
                                

                                .slick-slide{
                                    margin: 0 16px;
                                    &:first-child{
                                        margin-left: 0;
                                    }
    
                                   
                                    &.slick-active{
                                    }
                                    &.slick-current{
                                    }
    
    
                                }
                            }
                        }
                    }
                }
                .menu-img-label-box{
                    display: flex !important;
                    flex-direction: column;
                    gap: 8px;
                    align-items: center;
                    min-width: 56px;
                    .img-box{
                        width: 24px;
                        height: 24px;
                        .menu-img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .label{
                        font-size: 12px;
                        line-height: 16px;
                        white-space: nowrap;
                    }

                }
                
            }
            .filters-taxes-box{
                display: flex;
                align-items: center;
                gap: 16px;
                .filter-box{
                    border: 1px solid $boder-color;
                    border-radius: 12px;
                    padding: 9px 16px 7px;
                    display: flex;
                    gap: 8px;
                    height: 48px;
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .filter-img{
                        width: 16px;
                        height: 16px;
                    }
                    .filters-text{
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                .display-tax-box{
                    border: 1px solid $boder-color;
                    border-radius: 12px;
                    padding: 10px 16px;

                }
            }
        }
    }
}