@import '../../styles/colors.scss';

.airbnb-header-container{
    box-shadow: rgb(0 0 0/8%) 0 1px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1;

    &_contain{
        padding: 20px 0;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        &_logo-box{
            
            flex: 1 0 140px;
        }

        &_nav-one{
            flex: 0 1 auto;
            
            .ul{
                display: flex;
                align-items: center;
                .li{
                    padding: 10px 16px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .search-bar-box{
                .add-guest-box{
                    .search-box{
                        width: 48px;
                        height: 48px;
                        border-radius: 24px;
                        background-color: $red ;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .search-img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }

        &_nav-two{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: fit-content;
            flex: 1 0 140px;
            .airbnb-home-text{
                font-size: 16px;
                line-height: 20px;
                padding: 12px;
            }
            .language-world-btn{
                padding: 12px;
                .world-language-img{
                    width: 16px;
                    height: 16px;
                }
            }
            .hamburger-menu-btn{
                border: 1px solid $boder-color;
                border-radius: 30px;
                display: flex;
                align-items: center;
                gap: 14px;
                padding: 8px;
                margin-left: 8px;
                .hamburger-img{
                    width: 16px;
                    height: 16px;
                }
                .profile-img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    &_two{
        .second-menu-box{
            
        }
    }
}