

.box-container {
    max-width: 1680px;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

// -------------------DISPLAY-----------------------
.dsp-none {
    display: none !important;
}

.flex {
    display: flex;
}