@import '../styles/common.scss';
@import '../styles/colors.scss';
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
    font-family: "Gotham Pro", sans-serif;
    font-weight: unset;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: $white;
    font-family: "Gotham Pro", sans-serif;
    color: inherit !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;

    &:focus-visible {
        outline: none;
    }
}

/* change colours to suit your needs */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 0 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
    outline: none;
    font-family: "Gotham Pro", sans-serif;
}

.container-react-root {
    max-width: 1440px;
    margin: 0 auto;
}

.container-react-root.responsivegrid {
    max-width: 100%;
    margin: 0;
    width: 100%;
}

.xf-content-height {
    margin: 0 !important ;
}
